.feed-scroll {
  background-image: url("../../images/background-loginpage.jpg") !important;
  background-position: center center;
  background-size: cover;
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  &-row {
    background-color: $background-feed-row;
    padding: 5px;
    width: 400px;
    min-height: 103%;
    float: left;
    margin-left: 2rem;
    overflow: hidden;
    box-shadow: 5px 0 15px -4px silver, -5px 0 8px -4px silver;
    a {
        color: darkslategrey;
    }
    &-container {
      margin-top: 1.5rem;
      &-cell {
        padding: 5px;
        background-color: $background-feed-cell;
        margin: 1rem 0.5rem 0 0.5rem;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        box-shadow: 0 5px 10px silver;
        a {
          font-weight: bold;
          color: black !important;
          .topic-link {
            font-weight: normal !important;
          }
        }
        p {
          font-size: 13px;
        }
        img {
          width: 100%;
          height: auto;
        }
        &-profilepicture {
          width: 45px !important;
          height: 45px !important;
          object-fit: cover;
          border-radius: 100px;
        }
      }
    }
  }
}
