.feed-scroll {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-color: white;
  margin-top: 1rem;
  padding: 1rem;
  &-row {
    padding: 5px;
    width: 250px;
    float: left;
    margin-left: 1rem;
    overflow: hidden;
    border: 1px solid blue;
    a {

    }
    &-container {
      margin-top: 3rem;
      &-cell {
        background-color: $background-feed-cell;
        margin: 1rem 0.5rem 0 0.5rem;
        -moz-hyphens: auto;
        -o-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
      }
    }
  }
}