.feed-scroll {
  position: absolute;
  top: 340px;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-color: white;
  margin-top: 1rem;
  padding: 0 1rem 1rem 0;
  &-row {
    background-color: $background-feed-row;
    padding: 5px;
    width: 400px;
    min-height: 103%;
    float: left;
    margin-left: 2rem;
    overflow: hidden;
    a {
      color: $secondary;
    }
    &-container {
      margin-top: 1.5rem;
      &-cell {
        border-radius: 8px;
        padding: 5px;
        background-color: $background-feed-cell;
        margin: 1rem 0.5rem 0 0.5rem;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
        a {
          font-weight: bold;
          color: black !important;
          .topic-link {
            font-weight: normal !important;
          }
        }
        p {
          font-size: 13px;
        }
        img {
          width: 100%;
          height: auto;
        }
        &-profilepicture {
          max-width: 45px;
          max-height: 45px;
          object-fit: cover;
          border-radius: 100px;
        }
      }
    }
  }
}
