.navbar {

  &-toggler-icon {

  }

  i {
    color: #ffffff;
  }
  .img-circle {
    border-radius: 100%;
  }

  .profil-image-small {
    height: 30px;
    width: 30px;
  }

  .notification-btn {

  }
  .dropdown-user-menu {
    right: 0 !important;
    left: auto;
  }
}

