@import '../../node_modules/bootstrap/scss/bootstrap';
/*
* Import der Fonts
 */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/*
* Allgemeine Styles
 */
$background-feed-cell: rgb(255, 255, 255);
$label-text-formular: rgb(255, 255, 255);
$background-feed-row: rgba(235, 236, 235, 0.5);
$primary: rgb(255, 255, 255);
$secondary: rgb(47, 79, 79); // Überschriften und Überschriften in den rows.
$third: rgb(0, 0, 0); //Überschrift im Profile oder Topic header.

/*
* Import der module
*/
@import '../../assets/scss/module/loginblock.scss';
@import "../../assets/scss/module/registerblock.scss";
@import "../../assets/scss/module/navbar.scss";
@import "../../assets/scss/module/feed-scroll.scss";
@import "../../assets/scss/module/post-formular.scss";

/*
* Import der Page-Layouts
 */
@import "../../assets/scss/pages/profile-page.scss";
@import "../../assets/scss/pages/login-page.scss";
@import "../../assets/scss/pages/feed-page.scss";
@import "../../assets/scss/pages/topic-page.scss";

body {
  background-color: $primary;
}
h1, .h1, h2, .h2, h3, .h3 {
  color: $secondary;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

a {
  font-family: 'Roboto', sans-serif !important;
  font-size: 1rem;
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.formular-label-color {
  color: black;
}

.profile-topic-headline {
  color: $black;
}

.modal-content {
  background-color: transparent;
}
.ui-autocomplete-input {
  z-index: 1511;
  position: relative;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
}