@import '../../node_modules/bootstrap/scss/bootstrap';

/*
* Allgemeine Styles
 */
$background-feed-cell: rgb(255, 255, 255);
$label-text-formular:rgb(255, 255, 255);
$background-feed-row: rgb(235, 236, 235);
$primary: rgb(255, 255, 255);
$secondary: rgb(47,79,79); // Überschriften und Überschriften in den rows.
$third: rgb(0,0,0); //Überschrift im Profile oder Topic header.

/*
* Import der module
*/
@import '../../assets/scss/module/loginblock.scss';
@import "../../assets/scss/module/registerblock.scss";
@import "../../assets/scss/module/navbar.scss";
@import "../../assets/scss/module/feed-scroll.scss";
@import "../../assets/scss/module/post-formular.scss";

/*
* Import der Page-Layouts
 */
@import "../../assets/scss/pages/profile-page.scss";
@import "../../assets/scss/pages/login-page.scss";
@import "../../assets/scss/pages/feed-page.scss";
@import "../../assets/scss/pages/topic-page.scss";


body {
  background-color: $primary;
}
h1, .h1, h2, .h2, h3, .h3 {
  color: $secondary;
}

a {
  &:hover {
    text-decoration: none;
    cursor: pointer;
  }
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
/*
*       NOTIFICATION
 */
#alert_popover {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 50px;
}
.wrapper {
  display: table-cell;
  vertical-align: bottom;
  height: auto;
  width: 200px;
}

.alert_default {
  color: #333333;
  background-color: $warning;
  border-color: #cccccc;
  border-radius: 10px;
}
/*
*     WIEDER UNSER NORMALES CSS
 */

.formular-label-color {
  color: $label-text-formular;
}
.profile-topic-headline{
  color: $black;
}
.modal-content{
  background-color: transparent;
}