@import '../../node_modules/bootstrap/scss/bootstrap';

/*
* Import der module
*/

@import '../../assets/scss/module/loginblock.scss';
@import "../../assets/scss/module/registerblock.scss";
@import "../../assets/scss/module/navbar.scss";


/*
* Import der Page-Layouts
 */
/*
/*
* Allgemeine Styles
 */
$primary: rgb(223, 226, 239);
$secondary: rgb(0, 80, 255);

body { //wird noch nicht mitgegeben?!
  background-color: $primary;
}

h1, .h1, h2, .h2, h3, .h3 {
  color: $secondary;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}