.loginpage {

  .background-login {
    box-sizing: border-box;
    background-image: url("../../assets/images/background-loginpage.jpg") !important;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  .fontnorm {
    font-size: 1rem;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .form-container {

    padding: 50px 60px;
    margin-top: 15vh;
    -webkit-box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
  }

}
