.boxshadow {
  margin-top: 15vh;
  -webkit-box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
}

.background-login {
  box-sizing: border-box;
  background-image: url("../../assets/images/background-loginpage.jpg") !important;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: -1;
}

.profile-header {
  background-color: $background-feed-row;
  //border-radius: 20px;
  &-cols {
    img {
      border-radius: 200px;
      width: 300px;
      height: auto;
    }
  }
}

.profile-transparent-bg {
  background-color: $background-feed-row;
  h2 {
    padding: 18px 18px 0 !important;
  }
  .profile-container-row {
    padding: 10px;
    &-cell {
      background-color: $background-feed-cell;
      padding: 5px;
      margin: 1rem 0.5rem 0 0.5rem;
      box-shadow: 0 5px 10px silver;
      .topic-link {
        color: black;
        font-weight: bold;
      }
      p {
        font-size: 13px;
      }
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.image-preview {
  width: 100px !important;
  height: auto;
  object-fit: cover;
}


.placeholder {
  height: 340px;
  background-color: $primary;
}

.vh15 {
  margin-top: 15vh;
}

.formstyle {
  margin-top: 15vh;
  -webkit-box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 4px 26px 8px rgba(0, 0, 0, 0.75);
  background-color: white;
}

.verschiebung{
  width: 270px;
}

.container-profile {
  margin-top: 80px;
}

.profile-headline {
  font-weight: bold;
}

.modal-footer{
  box-sizing: unset;
}
.profile-header-cols {
  img{
    border-radius: 0;
    width: 300px;
    height: auto;}
}

.profile-picture{
  border-radius: 100% !important;
  width: 300px !important;
  height: 300px !important;
  object-fit: cover !important;
}

@media (max-width: 992px) {
  .profile-header-cols {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }
}


@media (max-width: 575px) {
  .verschiebung {
    max-width: 200px;
  }
}
}


