.profile-header {
  background-color: white;
  border-radius: 20px;
  &-cols {
    img {
      border-radius: 200px;
      width: 300px;
      height: auto;
    }
  }
}
.profile-container-row{
  background-color: #a7a37e;
  padding: 5px;
  &-cell{
    background-color: white;
    border-radius: 8px;
    padding: 5px;
    margin: 1rem 0.5rem 0 0.5rem;
    img{
      width:100%;
      height:auto;
    }
  }
}
.image-preview {
  width: auto;
  height: 100px;
}

.placeholder {
  height: 340px;
  background-color: $primary;
}

.container-profile {
  margin-top: 80px;
}
.profile-headline{
  font-weight: bold;
}
@media (max-width: 992px) {
  .profile-header-cols{
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}